html{
    height: 100vh;
}
body{
    min-height: 100vh;
    margin: auto 0;
    position: fixed;
    display: flex;
    flex-direction: column;
}
h1{
    line-height: 10px;
}
.inner-contents{
    width: 100vh;
}
.navigation{
    /* position: fixed; */
    width: 100vw;
    height: 5vh;
    min-height: 30px;
    max-height: 40px;
    left: 0;
    top: 0;
    gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    background-color: rgba(169, 169, 169, 0.8);
    border-bottom: 1px solid blue;
    width: fit-content;
    padding: 5px;
}
.navigation:hover{
    background-color: rgba(199, 199, 199, 0.9);
}
.vertical-center {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
.link-list{
    display: flex;
    width: 100vw;
    list-style: none;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: large;
    margin: 0;
    padding: 0;
}
@media (max-width: 600px){
    .link-list{
        font-size: smaller;
        padding: 0;
    }
}
.link-list li{
    padding: 5px;
}
.link-list a{
    color: ivory;
    background-color: grey;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    border: 1px solid blue
}
.link-list a:hover{
    color: gold;
    border-color: cyan;
}
/* .lastInList{
    margin-left: auto;
} */
.headfoot{
    /* position: fixed; */
    width: 100vw;
    height: 15vh;
    min-height: 100px;
    max-height: 125px;
    background-color: rgba(255, 255, 255, 0.7);
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    text-align: center;
}
.headfoot:hover{
    background-color: rgba(255, 255, 255, 0.75);
}
.headfoot h1{
    color: rgb(43, 43, 136);
}
/* header{
    margin-top: 7vh;
} */
.footer{
    /* position: absolute; */
    /* bottom: 0; */
    margin-top: auto;
    height: 5vh;
    min-height: 50px;
    max-height: 70px;
}
.element{
    width: 100vw;
    box-sizing: border-box;
    color: rgb(16, 95, 126);
    background-color: rgba(255, 174, 0, 0.4); 
    border: 1px solid rgb(255, 174, 0);
    font-size: larger;
}
.element:hover{
    background-color: rgba(255, 174, 0, 0.5);
}
.element p{
    text-shadow: 1px 1px azure;
}
.story{
    position: fixed;
    top: 200px;
    width: 85%;
    height: 70%;
    background-color: ivory;
    border: 1px solid blue;
    padding: 30px;  
    overflow-wrap: break-word;
    overflow-y: scroll;
}
@media (min-height: 800px){
    .gap{
        height: 5vh;
        max-height: 25px;
    }
}