html{
    height: 100vh;
}
body{
    min-height: 100vh;
    margin: auto 0;
    position: fixed;
    display: flex;
    flex-direction: column;
}
h1, h4{
    margin: 0;
}
.inner-contents{
    width: 100vw;
}
.navigation{
    width: 100vw;
    height: 5vh;
    min-height: 30px;
    max-height: 40px;
    left: 0;
    top: 0;
    gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    background-color: rgba(169, 169, 169, 0.8);
    border-bottom: 1px solid blue;
    width: fit-content;
    padding: 5px;
}
.navigation:hover{
    background-color: rgba(199, 199, 199, 0.9);
}
.vertical-center {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
.link-list{
    display: flex;
    width: 100vw;
    list-style: none;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: large;
    margin: 0;
    padding: 0;
}
@media (max-width: 600px){
    .link-list{
        font-size: smaller;
        padding: 0;
    }
}
.link-list li{
    padding: 5px;
}
.link-list a{
    color: ivory;
    background-color: grey;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    border: 1px solid blue
}
.link-list a:hover{
    color: gold;
    border-color: cyan;
}
/* .lastInList{
    margin-left: auto;
} */
.headfoot{
    width: 100vw;
    height: 15vh;
    min-height: 100px;
    max-height: 125px;
    background-color: rgba(255, 255, 255, 0.7);
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    text-align: center;
}
.headfoot:hover{
    background-color: rgba(255, 255, 255, 0.75);
}
.headfoot h1{
    color: rgb(43, 43, 136);
}
/* header{
    margin-top: 7vh;
} */
.footer{
    /* position: absolute; */
    /* bottom: 0; */
    margin-top: auto;
    height: 5vh;
    min-height: 50px;
    max-height: 70px;
}
.element{
    width: 100vw;
    max-width: 1000px;
    max-height: 60vh;
    overflow-y: hidden;
    box-sizing: border-box;
    padding-bottom: 5vh;
    color: rgb(16, 95, 126);
    background-color: rgba(255, 174, 0, 0.4); 
    border: 1px solid rgb(255, 174, 0);
    font-size: 14pt;
}
.element:hover{
    background-color: rgba(255, 174, 0, 0.5);
}
.element-contents{
    height: 50vh;
    overflow-y: auto;
}
.element-description{
    text-shadow: 1px 1px azure;
}
.story{
    left: 0;
    width: calc(100vw - 63px); 
    height: 60vh;
    background-color: ivory;
    border: 1px solid blue;
    padding: 30px;  
    overflow-wrap: break-word;
    overflow-y: scroll;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    
}
/* PC */
@media(min-width: 450px) and (min-height: 450px){
    .story{
        font-size: 16pt;
    }
}
@media (min-width: 1000px){
    .element{
        margin-left: 5vw;
    }
    .story{
        width: 84vw;
        margin-left: 6vh;
        margin-right: 6vh;
    }
}
@media (min-height: 800px){
    .gap{
        height: 5vh;
        max-height: 25px;
    }
}
@media (min-height: 950px){
    .story{
        height: 65vh;
    }
}
@media (min-height: 1100px){
    .story{
        height: 70vh;
    }
}
/* Phone horizontal */
@media (max-height: 500px) and (max-width: 900px){
    .phone-horiz-header{
        float:left; 
        width: 11%;
        max-height: 65vh;
        /* height: -moz-max-content; */
        height: max-content;
        padding: 2vw;
        font-size: smaller;
        border: 2px solid white;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
    }
    .element{
        float: right;
        width: 80%;
        max-height: none;
        height: 70vh;
    }
    .element-contents{
        height: 60vh;
    }
    .story{
        float: right;
        width: 73%;
    }
    .story{
        height: 55vh;
    }
}
/* Everything else */
@media (min-height: 501px), (min-width: 901px){
    .bigscreen-vertical-center{
        margin: 0;
        position: relative;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}