.wrap {
    position: relative;
    width: 300px;
    height: 50px;
  }
  .main {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2; /* cover up menu when inactive */
    border: 2px black;
    background-color: grey;
  }
  .menu {
    width: 100px;
    position: absolute; /* hide behind main box */
    top: 0;
    right: 0;
    z-index: 1;
    transition: right .5s ease; /* sexy transition effect */
    background-color: honeydew;
   }     
  .wrap:hover .menu {
     right: -100px; /* show menu when main area is hovered over */
  }